<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recipe Database</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <% @recipe.each do |recipe_info| %>
      <h1>
        •*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•<br/>
        ::: (\(\ ...*...*...*...*...*...*...*...*...*...*...*...*<br/>
        *:: (=' :') ::::::::<%="#{recipe_info["name"]}"%> :::::::::::<br/>
        •.. (,('')('')¤...*...*...*...*...*...*...*...*...*...*...*<br/>
        ¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸<br/><br/>
      </h1>
      <p>
      <strong>•·.·´¯`·.·• Description •·.·´¯`·.·•</strong><br/><br/>
      <%="#{recipe_info["description"]}"%><br/><br/>
      <strong>•·.·´¯`·.·• Instructions •·.·´¯`·.·•</strong><br/><br/>
      <%="#{recipe_info["instructions"]}"%><br/><br/>
      </p>
    <% end %>
    <h2>
    (ノ ゜Д゜)ノ ︵ ┻━┻ <br/>
    •·.·´¯`·.·• so flavor. much happy. wow •·.·´¯`·.·•<br/><br/>
    </h2>
    <p>
      <strong>•·.·´¯`·.·• Ingredients •·.·´¯`·.·•</strong><br/><br/>
      <ul>
        <% @ingredients.each do |ingredient| %>
          <li><%="#{ingredient["name"]}"%></li><br/>
        <% end %>
      </ul>
    </p>

    <br/><br/>
    <h2>
    <a href="/"><strong>•·.·´¯`·.·• Back •·.·´¯`·.·•</strong></a>
    </h2>
    <br/><br/>
  </body>
</html>
